<section class="
    flex 
    flex-col
    justify-between
    items-center
    py-3 w-[70%]
    bg-gray-300">
    
    <h1>About</h1>
    <article class="w-[60%]">
        <p>I'm a software developer focusing on desktop applications, where I've been creating robust solutions using C#g/typescript.pngpeScript, along with frameworks like Angular and .NET. My journey in software development is driven by a passion for crafting high-quality applications that meet user needs and streamline their tasks.</p>
    </article>
<!--     <article 
        class="w-[60%] m-5
        flex
        justify-around">
        <img
            src="../../public/img/c-sharp.png" 
            alt=""
            class="w-[2.5rem]
            h-[3rem]">
        <img
            src="../../public/img/net-core.png" 
            alt=""
            class="w-[3rem]
            h-[3rem]">
        <img
            src="../../public/img/javascript.png" 
            alt=""
            class="w-[3rem]
            h-[3rem]">
        <img
            src="../../public/img/typescript.png" 
            alt=""
            class="w-[3rem]
            h-[3rem]">
        <img
            src="../../public/img/angular.png" 
            alt=""
            class="w-[3rem]
            h-[3rem]">
    </article> -->
</section>