---
---

<section id="home" class="
    w-[70%]
    grid
    grid-cols-5
    grid-rows-3">

    <img src="../../public/img/fotoperfil.png"
        alt=""
        id="img-profile"
        class="rounded-lg row-span-3 col-start-2">
    <span id="home-info" class="row-start-2 col-start-3 col-span-2">
        <img src="../../public/img/profesion.svg" alt="" id="title" class="profile">
        <p id="profile-info"><span id="subtitle">Hi, i'm Juan Hidalgo.</span> specializes in UI/UX design and developing cutting-edge software solutions for web aplications.</p>
        <nav
            id="profile-bar"
            class="flex justify-around">
                <a 
                href=""
                class="px-1 social-btn social-btn">
                    <i class="bi bi-linkedin"></i> Linkedin
                </a>
                <a 
                href=""
                class="px-1 social-btn social-btn">
                    <i class="bi bi-github"></i> Github
                </a> 
                <a 
                href=""
                class="px-1 social-btn social-btn">
                    <i class="bi bi-envelope-fill"></i> Email
                </a>
        </nav>
    </span>
</section>
<style>

    #home{
        margin: 0 0 1.5rem 0;
        height: 90vh;
        gap: 1.5rem;
        border-radius: 3rem;
        background: linear-gradient(to bottom, #ff8235, #fdd843);
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    #img-profile{
        width: 30rem;
        place-self: center;
    }
    #home-info{
        width: 100%;
    }
    #subtitle{
        color: var(--white-pearl);
        font-size: 1.5rem;
        font-weight: 700;
    }
    #profile-info{
        font-size: 1.5rem;
        text-wrap: pretty;
    }
    #profile-bar{
        place-self: start;
    }
    .social-btn {
        min-width: 7rem;
        padding: .5rem 1rem .5rem 1rem;
        border-radius: 1rem;
        background: linear-gradient(145deg, #FFD700, #FFA500); 
        box-shadow:  5px -5px 10px #ffa50099,
            -5px 5px 10px #ffc40099;
        transition: all 10s ease;
    }

    .social-btn:hover {
        background: linear-gradient(145deg, #FFA500, #FFD700);
        box-shadow: -5px 5px 10px #ffa50099,
            5px -5px 10px #ffc40099;
    }
    .bi, .social-btn{
        font-size: 1.5rem;
    }
</style>