---
import ContactBar from "./ContactBar.astro"
---
<nav class="
    flex
    flex-row
    gap-x-10
    m-[1rem]
    w-[70%]
    justify-center">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="/proyects">Proyects</a>
    <a href="/contact">Tecnologies</a>
</nav>
