<h1>Proyects</h1>
<ul class="flex flex-wrap">
    <li class="h-[400px] w-[310px] m-3 p-1">
        <a href="https://premiosesland.com/" class="">
            <img src="../../public/img/esland-miniatura.png" alt="">
            <h3 class="font-semibold not-italic">Premios Esland</h3>
            <p class="text-pretty">Está diseñada con un enfoque en contenido estático utilizando Astro como framework principal y estilizada con TailwindCSS. La página proporciona información sobre el evento, como la fecha, los nominados, y la transmisión en vivo, presentando un diseño minimalista y fácil de navegar.</p>
        </a>
    </li>
    <li class="h-[400px] w-[310px] m-3 p-1">
        <a href="https://https://lavelada.es/" class="">
            <img src="../../public/img/veladaDelAño4.png" alt="">
            <h3 class="font-semibold not-italic">La Velada del año 4</h3>
            <p class="text-pretty">Utiliza Astro para manejar el contenido estático y TailwindCSS para el diseño. Además de proporcionar información detallada sobre el evento, la página permite a los usuarios adquirir entradas y acceder a las redes sociales oficiales.</p>
        </a>
    </li>
</ul>